In [1]:
text = 'Em ơi có bao nhiêu, 60năm cuộc đời, 20 năm đầu, sung sướng0bao lâu'

In [2]:
temp = []
result = []

In [4]:
for char in text:
    if char.isdigit():
        temp.append(char)
        
    else:
        if temp != []:
            print(''.join(temp))
            result.append(int(''.join(temp)))
            temp =[]
            
print("Ket qua", result)

60
20
0
Ket qua [60, 20, 0]

## Truthness

In [5]:
values = [False, 0, [], '', (), {}]

In [6]:
[bool(i) for i in values]

[False, False, False, False, False, False]

### còn lại coi là True

In [7]:
values = [1, 'asadasdasd', [213, 'sad',]]

In [8]:
[bool(i) for i in values]

[True, True, True]

## NoneType

In [9]:
type(None)

NoneType

In [10]:
bool(None)

False

## Set (hash table)

In [18]:
houses = ['Phong', 'Tuan Anh', 'Quy', 'Tri', 'Son', 'Thong', 'Tri']
cars = ['Tri', 'Quy', 'Long', 'Son']

In [19]:
for name in houses:
    if name in cars:
        print(name)

Quy
Tri
Son
Tri

In [20]:
HS = set(houses)
CS = set(cars)

In [21]:
HS

{'Phong', 'Quy', 'Son', 'Thong', 'Tri', 'Tuan Anh'}

In [22]:
type(HS)

set

In [23]:
D1 = {'name': 'Pymi', 'age': 20}

In [24]:
type(D1)

dict

In [25]:
HS.intersection(CS)

{'Quy', 'Son', 'Tri'}

In [26]:
CS & HS

{'Quy', 'Son', 'Tri'}

In [27]:
CS.union(HS)

{'Long', 'Phong', 'Quy', 'Son', 'Thong', 'Tri', 'Tuan Anh'}

In [28]:
HS - CS

{'Phong', 'Thong', 'Tuan Anh'}

In [29]:
HS.difference(CS)

{'Phong', 'Thong', 'Tuan Anh'}

### XOR là phép lấy phần ko trùng nhau giữa 2 tập

In [30]:
lessons = ['bai1', 'bai2', 'bai3', 'bai1', 'bai3']

In [31]:
set(lessons)

{'bai1', 'bai2', 'bai3'}

In [32]:
set(lessons)

{'bai1', 'bai2', 'bai3'}

### Khong phai ngau nhien
### Day la khong co thu tu (unordered)

### Dict và List là kiểu tối thượng chứa được mọi thứ

#### Đúng cho cả key của dictionary

In [42]:
students = {
    'HN1811': {},
    'HCM1812': {'ADDRESS'   : 'GTVT HCM', 
                'start_hour': '18h30',
                'schedular' : '2, 4',
                 'students' : [('Tri', 20, 'sxxx@yy.com'),
                               ('Phong', 30, 'abc@ax.com'),
                               ('chubodoi', 23, 'as@azdigi.com')
                               ]}
}

In [45]:
students = {
    'HN1811': {},
    'HCM1812': {'ADDRESS'   : 'GTVT HCM', 
                'start_hour': '18h30',
                'schedular' : '2, 4',
                 'students' : [{'name':'Tri', 'age': 20, 'email':'sxxx@yy.com'},
                               {'name':'Phong', 'age': 14, 'email':'123@yy.com'},
                               {'name':'chu bo doi', 'age': 76, 'email':'as@yy.com'}
                              ]
}}

In [43]:
for s in students['HCM1812']['students']:
    print(s)

('Tri', 20, 'sxxx@yy.com')
('Phong', 30, 'abc@ax.com')
('chubodoi', 23, 'as@azdigi.com')

In [44]:
for name, age, _ in students['HCM1812']['students']:
    print(name, age)

Tri 20
Phong 30
chubodoi 23

#### unpacking tuple (above)

In [46]:
for s in students['HCM1812']['students']:
    print(s['name'], s['age'])

Tri 20
Phong 14
chu bo doi 76

### Hạn chế dùng s[0] s[1]...

## SAVE

In [47]:
students

{'HN1811': {},
 'HCM1812': {'ADDRESS': 'GTVT HCM',
  'start_hour': '18h30',
  'schedular': '2, 4',
  'students': [{'name': 'Tri', 'age': 20, 'email': 'sxxx@yy.com'},
   {'name': 'Phong', 'age': 14, 'email': '123@yy.com'},
   {'name': 'chu bo doi', 'age': 76, 'email': 'as@yy.com'}]}}

In [48]:
with open('dulieu.txt', 'wt') as f:
    f.write(str(students))

In [50]:
with open('dulieu.txt', 'rt') as f:
    data = f.read()

In [51]:
data

"{'HN1811': {}, 'HCM1812': {'ADDRESS': 'GTVT HCM', 'start_hour': '18h30', 'schedular': '2, 4', 'students': [{'name': 'Tri', 'age': 20, 'email': 'sxxx@yy.com'}, {'name': 'Phong', 'age': 14, 'email': '123@yy.com'}, {'name': 'chu bo doi', 'age': 76, 'email': 'as@yy.com'}]}}"

## JSON

In [53]:
import json

In [54]:
print(json.dumps(students))

{"HN1811": {}, "HCM1812": {"ADDRESS": "GTVT HCM", "start_hour": "18h30", "schedular": "2, 4", "students": [{"name": "Tri", "age": 20, "email": "sxxx@yy.com"}, {"name": "Phong", "age": 14, "email": "123@yy.com"}, {"name": "chu bo doi", "age": 76, "email": "as@yy.com"}]}}

In [55]:
with open('mydata.gicungduoc', 'wt') as f:
    f.write(json.dumps(students))

In [56]:
with open('mydata.gicungduoc', 'rt') as f:
    data = f.read()
    print(type(data), data)

<class 'str'> {"HN1811": {}, "HCM1812": {"ADDRESS": "GTVT HCM", "start_hour": "18h30", "schedular": "2, 4", "students": [{"name": "Tri", "age": 20, "email": "sxxx@yy.com"}, {"name": "Phong", "age": 14, "email": "123@yy.com"}, {"name": "chu bo doi", "age": 76, "email": "as@yy.com"}]}}

In [57]:
mydict = json.loads(data)

In [58]:
type(mydict)

dict

file json là file trung gian. Các ngôn ngữ khác đều dùng được.
vd facebook trả về data bằng file json, chỉ cần dùng python là mở được

## XML CSV

In [59]:
import xml

cách đây 10 năm xml phổ biến như json bây giờ, Giờ thì người ta chỉ dùng json thôi.

trong json ko có tuple chỉ có list

check built-in function

## User-define function

In [61]:
double = lambda x: x*2

đầu vào : đầu ra

In [62]:
double(5)

10

### functionname(something) -> call function

In [63]:
triple = lambda x: x*3

In [64]:
triple(4)

12

In [65]:
squared = lambda x : x**2

In [66]:
squared(10)

100

In [67]:
incr = lambda x: x + 1

In [68]:
incr(99)

100

In [69]:
upper = lambda s: s.upper()

In [70]:
upper('ahihi')

'AHIHI'

### Function 2 para

In [71]:
sum_two = lambda x, y: x + y

In [72]:
sum_two(6,8)

14

In [73]:
sum_three = lambda x, y, z: x + y + z

In [74]:
sum_three(2,4,5)

11

In [75]:
average = lambda x, y: (x + y) / 2

In [77]:
average(5, 10)

7.5

In [78]:
append_one = lambda lst: lst + [1]

In [79]:
append_one([1,2,3,4])

[1, 2, 3, 4, 1]

In [82]:
append_one = lambda lst: sorted(lst + [1])

In [83]:
append_one([1,2,3,4])

[1, 1, 2, 3, 4]

In [84]:
append_one = lambda lst: sorted(set(lst + [1]))

In [85]:
second = lambda tuple2: tuple2[1]

In [86]:
second(('Tri', 20))

20

In [87]:
students = [('Tri', 20), ('Thong', 18), ('Huong', 21)]

In [88]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

iterable: một cái gì đó sort được (list, tuple)...

In [89]:
sorted(students, key = second, reverse=True)

[('Huong', 21), ('Tri', 20), ('Thong', 18)]

In [90]:
sorted(students, key = lambda x:x[1], reverse=True)

[('Huong', 21), ('Tri', 20), ('Thong', 18)]

Đó là các function nhận đầu vào, trả về đầu ra
H muốn nhận vào cái list rồi in ra cái list đó

In [91]:
print_list = lambda lst: for i in lst: print(i)

SyntaxError: invalid syntax (<ipython-input-91-f77527b939dc>, line 1)

### Với lambda: Chỉ định nghịa được function 1 dòng đơn giản
##### Muốn viết function nhiều dòng phải dùng def

In [98]:
def print_list(lst):  # đầu vào: argument(s)
    """
    docstring 
    print all elements of given lst
    """
    for i in lst:
        print(i)

In [95]:
print_list([1, 'Meo', 'Bo', ' Ga'])

1
Meo
Bo
 Ga

In [97]:
type(print_list)

function

In [99]:
result = print_list([1, 'Meo', 'Bo', ' Ga'])

1
Meo
Bo
 Ga

In [100]:
type(result)

NoneType

In [101]:
result?

In [102]:
Type:        NoneType
String form: None
Docstring:   <no docstring>

SyntaxError: invalid syntax (<ipython-input-102-35c63b55cd00>, line 2)

In [103]:
def double(x):
    return x * 2

In [104]:
k = double(5)
print(k)

10

#### Nếu ko viết return ..., mà :
- Không viết return
- return None
- return
###### Thì nó return None

In [105]:
x = print('Pymi')

Pymi

In [106]:
type(x)

NoneType

In [109]:
numbers = [1, 2, 3]

In [110]:
y = numbers.append(4)

In [111]:
type(y)

NoneType

In [113]:
s = numbers.sort()

In [114]:
s

In [115]:
type(s)

NoneType

In [116]:
list(reversed(numbers))

[4, 3, 2, 1]